<!doctype html>
<html>
  <head>
    <title>Etsiest</title>
    <link rel="stylesheet" href="application.css">
  </head>
  <body>
<div class="container">
 <header>
   <h1 class="logo">Etsy</h1>
   <form>
     <input class = "search" type="text" placeholder="Search for items or shops" required>
     <input class = "button" type="button" value="Search">
   </form>
   <nav>
     <a href="#">About</a>
     <a href="#">Terms</a>
   </nav>

 </header>
 <div class="main">
   <div class="products">
     <div class="product">
       <div class="preview">
         <img src="http://lorempixel.com/150/150?c=0.35464671859517694">
       </div>
       <div class="details">
         <div class="name">Whiskey Glass</div>
       </div>
       <div class="price">
         ::before
         "12"
         </div>
     </div>
     <div class="product">
       <div class="preview">
         <img src="http://lorempixel.com/150/150?c=0.35464671859517694">
       </div>
       <div class="details">
         <div class="name">Whiskey Glass</div>
       </div>
       <div class="price">
         ::before
         "12"
         </div>
     </div>
     <div class="product">
       <div class="preview">
         <img src="http://lorempixel.com/150/150?c=0.35464671859517694">
       </div>
       <div class="details">
         <div class="name">Whiskey Glass</div>
       </div>
       <div class="price">
         ::before
         "12"
         </div>
     </div>
     <div class="product">
       <div class="preview">
         <img src="http://lorempixel.com/150/150?c=0.35464671859517694">
       </div>
       <div class="details">
         <div class="name">Whiskey Glass</div>
       </div>
       <div class="price">
         ::before
         "12"
         </div>
     </div>
   </div>

    <div class= "result">Show results for:</div>
    <div class= "categorylist">All Categories</div>

   <div class="sidebar">
       <ul>
         <li class= allcategories>All Categories</li>
         <li class= category>Home &amp; Living</li>
         <li class= category>Art &amp; Collectibles</li>
         <li class= category>Weddings</li>
         <li class= category>Clothing</li>
         <li class= category>Jewelry</li>
         <li class= category>Paper &amp; Party Supplies</li>
         <li class= category>Accessories</li>
         <li class= category>Craft Supplies &amp; Tools</li>
         <li class= category>Bags &amp; Purses</li>
         <li class= category>Bath &amp; Beauty</li>
         <li class= category>Shoes</li>
         <li class= category>Books, Movies &amp; Music</li>
         <li class= category>Electronics &amp; Accessories</li>
         <li class= category>Pet Supplies</li>
         <li class= category>Toys &amp; Games</li>
       </ul>
   </div>
 </div>
</body>
 <footer>
   &copy; 2015 Etsiest
 <footer/>
</div>

</html>
